<!--The content below is only a placeholder and can be replaced.-->
<div class="titel">
    Welcome to {{title}}!
</div>
<div class="vraag">Hoeveel is {{vraag}}?</div> 
<input class="antwoord" [(ngModel)]="antwoord" (keyup.enter)='controleer()'/>
<button (click)='controleer()'>controleer</button>
<div class="resultaat">het antwoord is: {{resultaat}}</div>
<button (click)='herstart()'>opnieuw beginnen</button>
<div class="aantalgoed">aantal goed: {{aantalgoed}}</div>
<div class="aantalfout">aantal fout: {{aantalfout}}</div>